// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #004a75;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$info: #007bc1;
$info-invert: findColorInvert($info);
$light: #e5e5e5;
$light-invert: findColorInvert($light);
$warning: #ff8000;
$warning-invert: findColorInvert($warning);
$dark: #cc6600;
$dark-invert: findColorInvert($dark);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$notification-radius: 0;

//$mobile: 480px;
$tablet: 480px;
$desktop: 960px;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
