<template>
  <div>
    <section class="st">
      <transition name="slide">
        <div v-if="isShow" class="notification is-light">
          <div class="columns" style="max-width: 720px; margin: 0 auto;">
            <div class="column is-10">
              By accessing and using this website, you acknowledge that you have
              read and understand our <a href="#">Cookie Policy</a>,
              <a href="#">Privacy Policy</a>, and our
              <a href="#"> Terms of Service</a>.
            </div>
            <div class="column">
              <button class="button is-info" @click="isShow = !isShow">
                Got it
              </button>
            </div>
          </div>
        </div>
      </transition>
    </section>
    <nuxt />
  </div>
</template>

<script>
export default {
  data() {
    return {
      isShow: true,
      isPop: true,
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        }
      ]
    }
  }
}
</script>
<style scoped="scss">
a {
  color: blue !important;
}
.notification {
  padding: 0;
}
.st {
  position: sticky;
  top: 0;
  z-index: 10 !important;
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  /*-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
  /*-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
  /*-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
  /*transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

@media (min-width: 1281px) {
  .ms {
    padding: 12px;
    width: 40%;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .ms {
    padding: 12px;
    width: 40%;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .ms {
    padding: 12px;
    width: 40%;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ms {
    padding: 12px;
    width: 40%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .ms {
    padding: 12px;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .ms {
    padding: 12px;
    width: 100%;
  }
}
</style>
