<template>
  <div>
    <section class="hero is-success is-fullheight hs">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="~assets/img/y-logo-white.png" alt="Logo" />
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
          </div>
        </header>
      </div>
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="subtitle is-3">Hello! I'm {{ nameSection.title }}</h2>
          <h3 class="title is-4">
            Consult, Design, and Develop Websites
          </h3>
          <h5 class="subtitle is-5">
            Have something great in mind? Feel free to contact me. <br />
            I'll help you to make it happen.
          </h5>
          <b-button type="is-primary" outlined>Let's Make Contact</b-button>
        </div>
      </div>
    </section>
    <section class="hero is-light is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="text-content has-text-centered">
            <h2 class="title is-3">How Can I Help You ?</h2>
            <h5 class="subtitle">
              Our work then targeted, best practices outcomes social innovation
              synergy. <br />
              Venture philanthropy, revolutionary inclusive policymaker relief.
              User-centered <br />
              program areas scale.
            </h5>
          </div>
          <br />
          <br />
          <div class="columns is-mobile is-multiline">
            <div
              class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
            >
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item" aria-label="reply">
                          <h4 class="title is-4">Consult</h4>
                        </a>
                      </div>
                      <div class="level-right">
                        <a class="level-item" aria-label="reply">
                          <font-awesome-icon fas icon="comments" size="2x" />
                        </a>
                      </div>
                    </nav>
                    <div class="content">
                      <p>
                        Co-create, design thinking; strengthen infrastructure
                        resist granular. Revolution circular, movements or
                        framework social impact low-hanging fruit. Save the
                        world compelling revolutionary progress.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div
              class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
            >
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item" aria-label="reply">
                          <h4 class="title is-4">Design</h4>
                        </a>
                      </div>
                      <div class="level-right">
                        <a class="level-item" aria-label="reply">
                          <font-awesome-icon fas icon="paint-brush" size="2x" />
                        </a>
                      </div>
                    </nav>
                    <div class="content">
                      <p>
                        Policymaker collaborates collective impact humanitarian
                        shared value vocabulary inspire issue outcomes agile.
                        Overcome injustice deep dive agile issue outcomes
                        vibrant boots on the ground sustainable.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div
              class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
            >
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item" aria-label="reply">
                          <h4 class="title is-4">Develop</h4>
                        </a>
                      </div>
                      <div class="level-right">
                        <a class="level-item" aria-label="reply">
                          <font-awesome-icon fas icon="cubes" size="2x" />
                        </a>
                      </div>
                    </nav>
                    <div class="content">
                      <p>
                        Revolutionary circular, movements a or impact framework
                        social impact low- hanging. Save the compelling
                        revolutionary inspire progress. Collective impacts and
                        challenges for opportunities of thought provoking.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div
              class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
            >
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item" aria-label="reply">
                          <h4 class="title is-4">Marketing</h4>
                        </a>
                      </div>
                      <div class="level-right">
                        <a class="level-item" aria-label="reply">
                          <font-awesome-icon fas icon="bullhorn" size="2x" />
                        </a>
                      </div>
                    </nav>
                    <div class="content">
                      <p>
                        Peaceful; vibrant paradigm, collaborative cities. Shared
                        vocabulary agile, replicable, effective altruism youth.
                        Mobilize commitment to overcome injustice resilient,
                        uplift social transparent effective.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div
              class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
            >
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item" aria-label="reply">
                          <h4 class="title is-4">Manage</h4>
                        </a>
                      </div>
                      <div class="level-right">
                        <a class="level-item" aria-label="reply">
                          <font-awesome-icon fas icon="tasks" size="2x" />
                        </a>
                      </div>
                    </nav>
                    <div class="content">
                      <p>
                        Change-makers innovation or shared unit of analysis.
                        Overcome injustice outcomes strategize vibrant boots on
                        the ground sustainable. Optimism, effective altruism
                        invest optimism corporate social.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div
              class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
            >
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item" aria-label="reply">
                          <h4 class="title is-4">Evolve</h4>
                        </a>
                      </div>
                      <div class="level-right">
                        <a class="level-item" aria-label="reply">
                          <font-awesome-icon fas icon="chart-line" size="2x" />
                        </a>
                      </div>
                    </nav>
                    <div class="content">
                      <p>
                        Activate catalyze and impact contextualize humanitarian.
                        Unit of analysis overcome injustice storytelling
                        altruism. Thought leadership mass incarceration.
                        Outcomes big data, fairness, social game-changer.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="po">
        <transition name="slide">
          <div v-if="isPop" class="notification is-info ms">
            <div class="columns is-mobile">
              <div class="column is-11">
                <h5
                  class="title is-5"
                  style="margin-top: 24px; margin-bottom: 0; color: white;"
                >
                  Get latest updates in web technologies
                </h5>
                <p>
                  I write articles related to web technologies, such as design
                  trends, development tools, UI/UX case studies and reviews, and
                  more. Sign up to my newsletter to get them all.
                </p>
              </div>
              <div class="column">
                <button class="delete" @click="isPop = !isPop"></button>
              </div>
            </div>
            <div class="mss">
              <b-field grouped>
                <b-input placeholder="Search..." expanded></b-input>
                <p class="control">
                  <button class="button is-warning">Search</button>
                </p>
              </b-field>
            </div>
            <br />
          </div>
        </transition>
      </div>
    </section>
    <footer
      class="footer"
      style="padding-bottom: 48px; background-color: #004a75; color: #007bc1;"
    >
      <div class="content has-text-centered">
        <p>© {{ year }} {{ nameSection.title }}. All rights reserved.</p>
      </div>
    </footer>
  </div>
</template>

<script>
// import Card from '~/components/Card'
export default {
  data() {
    return {
      name: 'HomePage',
      notifTimer: null,
      year: '',
      isPop: true,
      nameSection: {
        title: 'Sukron Nurtado'
      }
    }
  },
  created() {
    this.getFooterYear()
  },
  beforeDestroy() {
    clearInterval(this.isPop)
  },
  methods: {
    getFooterYear() {
      const date = new Date()
      this.year = date.getFullYear()
    },
    callStaticNotification() {
      if (process.client) {
        if (this.$router.currentRoute.path !== '/') {
          this.isPop = false
          this.notifTimer = setInterval(() => {
            this.isPop = true
          }, 600000)
        }
      }
    }
  }
}
</script>
<style scoped="scss">
.hs {
  background: #004a75 url(../assets/img/work-desk__dustin-lee.jpg) center center
    no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}
.button.is-primary.is-outlined {
  border-color: white;
  color: white;
  font-weight: bold;
}
.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined.is-focused {
  background-color: white;
  border-color: white;
  color: #004a75;
  font-weight: bold;
}
.box {
  background-color: transparent;
}
a {
  color: #7f828b !important;
}

.notification {
  padding: 0;
}
.po {
  position: sticky;
  bottom: 0;
  z-index: 11 !important;
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  /*-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
  /*-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
  /*-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
  /*transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

@media (min-width: 1281px) {
  .ms {
    padding: 12px;
    width: 40%;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .ms {
    padding: 12px;
    width: 40%;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .ms {
    padding: 12px;
    width: 40%;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ms {
    padding: 12px;
    width: 40%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .ms {
    padding: 12px;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .ms {
    padding: 12px;
    width: 100%;
  }
}
</style>
